In [29]:
# Integer
a = 10
print(a, type(a))
print("Before:", a, "ID:", id(a))
a = a + 5
print("After :", a, "ID:", id(a))

10 <class 'int'>
Before: 10 ID: 140720351061192
After : 15 ID: 140720351061352

In [30]:
# Float
b = 10.5
print(b, type(b))
print("Before:", b, "ID:", id(b))
b = b * 2
print("After :", b, "ID:", id(b))

10.5 <class 'float'>
Before: 10.5 ID: 2489640377552
After : 21.0 ID: 2489641808176

In [18]:
# Boolean
e = True
print(e, type(e))

True <class 'bool'>

In [19]:
# Complex
c = 3 + 4j
print(c, type(c))

(3+4j) <class 'complex'>

In [20]:
# String
d = "Hello, Python"
print(d, type(d))

Hello, Python <class 'str'>

In [21]:
# List
f = [1, 2, 3, 4]
print(f, type(f))

[1, 2, 3, 4] <class 'list'>

In [31]:
# Tuple
g = (10, 20, 30)
print(g, type(g))
print("Before ID:", id(g))
g = g + (4,)
print("After ID :", id(g))

(10, 20, 30) <class 'tuple'>
Before ID: 2489641670080
After ID : 2489643149536

In [32]:
# Set
h = {1, 2, 3, 4}
print(h, type(h))
print("Before:", h, "ID:", id(h))
h.add(4)
print("After :", h, "ID:", id(h))

{1, 2, 3, 4} <class 'set'>
Before: {1, 2, 3, 4} ID: 2489642310048
After : {1, 2, 3, 4} ID: 2489642310048

In [33]:
# Dictionary
i = {"name": "Rakshitha", "age": 21}
print(i, type(i))
print("Before:", i, "ID:", id(i))
i["age"] = 20
print("After :", i, "ID:", id(i))

{'name': 'Rakshitha', 'age': 21} <class 'dict'>
Before: {'name': 'Rakshitha', 'age': 21} ID: 2489643046464
After : {'name': 'Rakshitha', 'age': 20} ID: 2489643046464

In [25]:
# Frozenset
j = frozenset([1, 2, 3, 4])
print(j, type(j))

frozenset({1, 2, 3, 4}) <class 'frozenset'>

In [26]:
# Bytes
k = bytes([10, 20, 30, 40])
print(k, type(k))

b'\n\x14\x1e(' <class 'bytes'>

In [27]:
# Bytearray
l = bytearray([5, 10, 15])
print(l, type(l))

bytearray(b'\x05\n\x0f') <class 'bytearray'>

In [28]:
 #NoneType
m = None
print(m, type(m))

None <class 'NoneType'>